#main {
    border-style: solid;
    border-color: palevioletred;
    border-width: 2px;
    background-color: navy
}

.pink {
    color: pink;
    font-size: 20px;
}


@media (min-width: 1000px) {
    #container {
        display: flex;
    }

    #main {
        width: 70%;
    }

    #sidebar {
        width: 30%;
    }
}